* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

header {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 200px;
  transition: 0.5s ease;
}

header .brand {
  color: #FF99BB;
  font-size: 2em;
  font-weight: 700;
  text-transform: capitalize;
  text-decoration: underline;
  font-family: "Lobster Two", sans-serif;
}

header .brand:hover {
  background-color: #fff;
  border-radius: 100%;
}

header .navigation {
  position: relative;
}

header .navigation .navigation-items a {
  font-family: "Lobster Two", sans-serif;
  position: relative;
  color: #fff;
  font-size: 1.2em;
  font-weight: 500;
  text-decoration: underline;
  transition: 0.3s ease;
  margin-left: 30px;
}

header .navigation .navigation-items a:before {
  content: '';
  position: absolute;
  background: #FF99BB;
  width: 0;
  height: 1.5px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

header .navigation .navigation-items a:hover:before {
  width: 100%;
}

section {
  padding: 100px 200px;
}

.lobster-two-bold {
  font-family: "Lobster Two", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.raleway {
  font-family: "Raleway", sans-serif;
}

.home {
  background: #000;
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.home:before {
  z-index: 777;
  content: '';
  position: absolute;
  width: 80%;
  height: 100%;
}

.home .content {
  z-index: 888;
  color: #fff;
  width: 70%;
  margin-top: 50px;
}

.home .content h1 {
  font-size: 3em;
  font-weight: 400;
  /* letter-spacing: 3px; */
  line-height: 40px;
  margin-bottom: 30px;
}

.home .content h1 em {
  font-size: 1em;
  font-weight: 400;
}

.home .content p {
  margin-bottom: 35px;
}

.home .content a {
  display: inline-flex;
  font-size: 1.5rem;
  background: #FF99BB;
  padding: 10px 25px;
  font-weight: 500;
  border-radius: 100px;
  margin-top: 10px;
  color: #fff;
  font-family: "Lobster Two", sans-serif;
}

.home .content a:hover {
  transition: letter-spacing 0.5s ease-in;
  background-color: #fff;
  color: #FF99BB;
}


.home .media-icons {
  z-index: 888;
  position: absolute;
  right: 30px;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease;
}

.home .media-icons a {
  color: #FF99BB;
  font-size: 1.6em;
  transition: 0.3s ease;
}

.home .media-icons a:not(:last-child) {
  margin-bottom: 20px;
}

.home .media-icons a:hover {
  transform: scale(1.3);
  color: #fff;
}

.home video {
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  object-fit: cover;
}

@media (max-width: 1040px) {
  header {
      padding: 12px 20px;
  }
  section {
      padding: 100px 20px;
  }
  .home .media-icons {
      right: 15px;
  }
  header .navigation {
      display: none;
  }
  header .navigation.active {
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(1, 1, 1, 0.5);
  }

  header .navigation .navigation-items a {
      color: #4D2E38;
      font-size: 1.2em;
      margin: 20px;
  }
  
  header .navigation.active .navigation-items {
      background-color: #fff;
      width: 400px;
      max-width: 400px;
      margin: 20px;
      padding: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 100px;
      box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  }
  header .navigation .navigation-items a:before {
      background: #FF99BB;
      height: 2px;
      display: inline-flex;
  }
  .menu-btn {
      background-image: url("images/nav_icon.svg");
      background-size: 35px;
      background-position: center;
      width: 40px;
      height: 40px;
      cursor: pointer;
  }
  .menu-btn.active {
      z-index: 999;
      background-image: url("images/nav_active.svg");
      background-size: 30px;
      background-position: center;
      width: 30px;
      height: 30px;
      transition: 0.3s ease;
  }
}
  

